<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:remove="all">Template for HTML email</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<!-- use the font -->
	<style>
		body {
			font-family: 'Roboto', sans-serif;
			font-size: 48px;
		}
	</style>
</head>

<body>
	<p>
		Hello <span th:text="${visitorName}" />,
	</p>
	<p>
		Welcome to Wissen Technology, <br/>
		The OTP for logging into Wissen Technologies - Visitor portal is : <span th:text="${otp}" />
	</p>
	<p>
		Regards, <br />
		<em>Admin Team</em>
	</p>
	<p>
		if the email was not requested by you, please report to Admin team.
	</p>
</body>

</html>